<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Movies List App</title>
    <style type="text/css">
    .navbar {
      min-height: 100px;
      font-size: 25px;
    }
    .navbar-brand {
      font-size: 25px;
    }
    </style>
  </head>
  <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="/">
                {% block brand %}
                <img src="{% static 'MoviesListApp/KilluaZoldyck.jpeg'%}" width="110" height="90">
                {% endblock %}
            </a>
          <a class="navbar-brand" href="/Movies/">Movie List App <span class="sr-only">(current)</span> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item">
               <a class="nav-link" href="#">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">logout</a>
             </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
         </div>
        </nav>
         {% block content %}
        <h1>Welcome to Movies List App</h1>
        {% endblock %}

  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2023 Copyright:
          <a href="https://www.packtpub.com"> Packt Publications</a>
          <p>Website by: Packt Publications</p>
          <p>Contact information: <a href=mailto:email@examole.com">email@example.com</a></p>
      </div>
  </footer>

  </body>
</html>